<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adonmessengerapp">

    <!-- Quyền yêu cầu -->
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdOnMessengerApp"
        tools:targetApi="23">

        <!-- Cấu hình cho dịch vụ MyUsageService -->
        <service
            android:name=".MyUsageService"
            android:exported="true"
            >
            <!-- <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter> -->
        </service>

        <!-- Cấu hình cho Activity chính -->
        <activity
            android:name=".MainActivity"
            android:foregroundServiceType="mediaProjection|location|connectedDevice"
            android:stopWithTask="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AdOnMessengerApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
